.savebasicdetails {
    cursor: pointer;
    margin-top: 20px;
    color: white;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
}

.editabledetails {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.clientemailreceived {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 40px;
}

.emailsenddetails {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 40px;
}

.gstportaldetails {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.gstnumber {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.gstdetails {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}

.gstdetails>button {
    background-color: green;
    color: white;
}

.basicdetails {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.basicdetails>div {
    flex-grow: 1;
}

.basicdetails input {
    margin-left: 10px;
}

.clientdetails {
    display: block;
    width: 930px;
    height: 100%;
    margin-left: 40px;
    padding-top: 10px;
}

.clientspace {
    display: flex;
    margin-top: 40px;
    height: 500px;
}

.clientsearch {
    box-sizing: border-box;
    margin: 10px 0px 6px 13px;
    border: solid;
    border-radius: 10px;
    border-color: grey;
    display: block;
    width: 90%;
    padding-left: 20px;
}

.classlistseparator {
    width: 80%;
}

.clientlist {
    display: block;
    margin-left: 20px;
    background-color: aliceblue;
    width: 250px;
    padding-top: 2px;
}

.clientlist>div {
    box-sizing: border-box;
    margin: 0px 0px 6px 13px;
    border: solid;
    border-radius: 10px;
    border-color: grey;
    display: flex;
    width: 90%;
    cursor: pointer;
    align-items: center;
}

.clientlist text {
    padding: 20px;
    width: 70%;
}

.clientlist img {
    width: 17px;
    height: 17px;
}